<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   GoogleService-info.plist
   villife

   Created by 홍성빈 on 2023/04/01.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
    <string>748689744438-bj6qfo5tmgdg3vent94tckccve1jjbud.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.748689744438-bj6qfo5tmgdg3vent94tckccve1jjbud</string>
    <key>API_KEY</key>
    <string>AIzaSyDDAlMImTgv-AEVu5s25mBK6Ef0pGoBR7A</string>
    <key>GCM_SENDER_ID</key>
    <string>748689744438</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.startdusts.villife</string>
    <key>PROJECT_ID</key>
    <string>villife-test</string>
    <key>STORAGE_BUCKET</key>
    <string>villife-test.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:748689744438:ios:21b6b451927ff0650a6e97</string>
</dict>
</plist>
